

.paginationBttns {
  display: flex;
  justify-content: center;
  /* position: inherit; */
  /* width: 80%;
  height: 30px; */
  list-style: none;
  border-radius: 0.35rem;
  
}

.paginationBttns a {
  position: relative;
  display: flex;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #da624a;
  background-color: #fff;
  border: 1px solid #dee2e6;
  margin-left: 50px;
  /* padding-left: 100px; */
}

.paginationBttns a:hover {
  color: white;
  /* background-color: lime; */
}

.paginationActive a {
  color: white;
  background-color: orangered;
}

.paginationDisabled a {
  display: none;
  color: grey;
  background-color: grey;
}
.table{
  box-shadow: 0px 10px 28px grey ;
  padding-left: 10px;
}
