.paginationBttns {
  color: black;
  list-style: none;
  padding-left: 600px;
  border-radius: 0.35rem;
 
}

.paginationBttns a {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #da624a;
  background-color: #fff;
  border: 1px solid #dee2e6;

  
}

.paginationBttns a:hover {
  color: black;
  /* background-color: darkgray; */
}

.paginationActive a {
  color: white;
  background-color: orangered;
}

.paginationDisabled a {
  display: none;
  color: black;
  background-color: grey;
}
.table{
  box-shadow: 0px 0px 28px grey;
  
}
